<!DOCTYPE html>
<html lang="en">
  <head>
 {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
      <!-- main header  -->
      <div class="main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="thapa" title="thapatechnical" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Our Weather App</p>
                        <h1>I am a <span class="txt_clr">Web Developer</span> and a student</h1>
                        <a href="https://www.linkedin.com/in/navneesh-yadav-494693196/" target="_thapa"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

   {{>footer}}
  </body>
</html>
